{
  "parserOptions": {
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },

  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "cypress/globals": true
  },

  "extends": [
    "plugin:cypress/recommended"
  ],

  "plugins": [
    "import",
    "promise",
    "standard",
    "cypress"
  ],

  "globals": {
    "document": "readonly",
    "navigator": "readonly",
    "window": "readonly"
  }
}